<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sections Mustache</title>
  </head>
  <body>
    {{#mahasiswa}}
    <h1>{{mahasiswa.nama}}</h1>
    <h2>{{mahasiswa.nim}}</h2>
    <h3>{{mahasiswa.jurusan}}</h3>
    {{/mahasiswa}}
  </body>
</html>
